body {
    margin: 0;
    padding: 0;

}
/* NAVBAR */

.font-size{
    font-size: 20px;
}

.space-between{
    padding-right: 80px;
    padding-left: 80px;
}

/* Alterar altura das imagens do carrossel */
.fixedHeightImg > img {
    max-height: 750px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* SECTIONS */
#camisa {
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303437;
    color: aliceblue;
}

/* #camisa:hover {
    background-color: #202325;
    transition: 0.5s;
} */

#camisa #title {
    margin: 2rem 0;
}

.card {
    color: black;
}


/* DIV PARA AJUSTAR IMAGEM E TEXTO */
#principal-image-masc > img {
    max-height: 750px;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto;
    width: auto; */
}

#principal-image-masc {
    position: relative;
}

#principal-image-masc #description-image {
    position: absolute;
    bottom: 10px;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration:none;
    color: inherit;
}

a:hover {
    color: aqua;
    transition: 0.5s;
}